.intro {
    background-color: rgb(255, 255, 255);
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;
        // display: flex;
        // align-items: center;
        // justify-content: center;


        .imageContainer {
            background-color: rgb(206, 134, 10);
            height: 700px;
            width: 700px;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img {
                height: 90%;
            }
        }
    }
    
    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 30px;
                
                span {
                    font-size: inherit;
                    color: rgb(206, 134, 10);
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        a {
            position: absolute;
            bottom: 10%;
            left: 30%;

            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 393px) {
        .intro {
            flex-direction: column;

            .left {
                flex: 1;

                .imageContainer {
                    height: 400px !important;
                    width: 100vw !important;

                    .img {
                        height: 50% !important;
                        opacity: 0;
                    }
                }
            }

            .right {
                flex: 2;
                height: 50vh;
            }
        }
    }
}

